<mat-nav-list>
    <div class="profile-card">
        <br>
        <div class="header">
            <h2>REBII Chokri</h2>
            <h4>rebiichokri@gmail.com</h4>
        </div>
        <img src="https://lh3.googleusercontent.com/-Bm6UNYE2zFw/XfbG55iV_OI/AAAAAAAAC-E/VQdYGoYOqlIjpOD28aPAbdyHH9oDNEQHQCEwYBhgL/w140-h140-p/2019-12-15.jpg" alt="REBII Chokri">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>